/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
  
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* ==========================================================================
     Author's custom styles
     ========================================================================== */
  
  /* ----- General styles ----- */

  body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: white; 
  }

  .content-wrapper {
    padding-top: 35px;
    /* padding-bottom:35px; */
    margin: auto;
    width: 90%;
  }

  h2 {
    text-align: center;
    font-size: 2.25rem;
    padding-bottom: 10%;
    margin-top: 70px;
    font-weight: 300;
  }

  p.text-wrapper {
    width: 85%;
    margin: 15px auto;
  }

  strong {
    font-weight: 700;
  }

  button {
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 5px 0 5px 0;
    width: 35%;
    border-radius: 2rem;
    border: none;
    margin: 0 5%;
    transition: background-image 0.3s ease;
    background-size: 200% auto;
    background-image: linear-gradient(to right, #9846FF 0%, #FF4646 80%);
  }

  button:hover {
    background-image: linear-gradient(to right, #9846FF 0%, #FF4646 50%);
  }

  .btn {
  flex: 1 1 auto;
  text-align: center;
  transition: 0.5s;
  color: white;
  }

  /* Collapsible arrow buttons */
  .collapsible {
    background-color: #eee;
    color: #ffffff;
    cursor: pointer;
    max-width: 40px;
    max-height: 40px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    padding: 15px;
  }

  .collapsible:after {
    font-size: 13px;
    color: white;
    float: right;
  }
  
  .collapse.active:after {
    content: "hide"; 
  }

  /* DARK MODE Styles */

  body.dark {
    background-color: #414141;
  }

  /* ----- Header - Footer styles ----- */

  /* Header */

  .intro-header,
  .intro-tagline {
    width: 80%;
    text-align: left;
    margin: auto;
  }

  .intro-tagline {
    padding-top: 10%;
  }

  h3.intro-tagline {
    font-weight: 400;
    font-size: 1.25rem;
  }

  .profile-intro {
    padding: 2em 0 0 0;
  }

  header h1 {
    font-weight: 300;
    padding-top: 55px;
  }

  /* Nav Bar styles */

  .nav-logo img {
    width: 2em;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid #E2E8F0;
    background-color: white; 
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }

  .nav-item {
    margin-left: 5rem;
  }

  .nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: linear-gradient(135deg, #9846FF 0%, #FF4646 100%);
  }

  .nav-link:hover{
    color: #f72d81;
  }

  .switch-container {
    text-align: center;
    padding-bottom: 2em;
    display: flex;
    align-items: center;
  }
  
  .switch-container p {
    padding: 0 1em;
    color: #9846FF;
  }

  .switch-container input {
    height: 0;
    width: 0;
    opacity: 0;
  }
  
  .switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 70px;
    height: 34px;
    background-color: #222;
    border-radius: 34px;
  }
  
  .ball {
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.2s ease-out;
  }
  
  .ball.move-right {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
  }

  .nav-logo {
    font-size: 1.75rem;
    font-weight: 500;
  }

  /* Hamburger styles */
  .hamburger {
    display: none;
  }

  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
    border-radius: 5px;
  }

  /* Waving emoji animation styles */

  span.waving-emoji {
    cursor: pointer;
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count:calc(5);  
    transform-origin: 70% 70%;
    display: inline-block;
  }

  span.waving-emoji:hover {
    animation-name: wave-animation;
    animation-iteration-count: infinite;  
  }

  @keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
  }
  
  /* Headshot img styles */

  figure.profile-img-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
  }

  .profile-img-wrapper img {
    width: 60%;
    height: 60%;
    max-width: 250px;
    border-radius: 50%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  .profile-img-wrapper img:hover {
    filter: grayscale(0%);
  }

  /* Footer */

  footer {
    background-color: #222;
  }

  footer .social-icons {
    display: flex;
    justify-content: space-evenly;
  }

  footer h2,
  footer h3,
  footer p {
    color: white;
    text-align: center;
  }

  h2.contact-header {
    margin-top: 30px;
  }

  h3.contact-tagline {
    font-weight: 300;
    width: 80%;
    text-align: center;
    margin: auto;
    padding-bottom: 5%;
  }

  footer ul {
    width: 40%;
    margin: auto;
  }

  footer .social-icons li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ::before {
    color: white;
  }

  footer .social-icons li i {
    font-size: 1.875rem;
    transition: transform 0.3s ease-in-out;
    /* padding-top: ; */
    /* color: linear-gradient(to right, #9846FF 0%, #FF4646 100%); */
  }
  
  .social-icons li i:hover {
    transform: translateY(-10px);
  }

  address {
    text-align: center;
    line-height: 4;
  }

  a.email {
    margin-bottom: 5%;
    color: #d6b4ff;
    /* background-color: linear-gradient(135deg, #9846FF 0%, #FF4646 100%); */
  }

  p.copyright {
    padding: 5% 0;
    font-size: 0.75em;
    width: 90%;
    margin: auto;
  }


  /* ----- Mobile styles - Sections ----- */

  /* Projects */

  .project-item-wrapper {
    width: 90%;
    margin: auto;
    border-radius: 1.25rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 6px #c1c0c0;
    /* slide-in animation */
    opacity: 0;
    transform: translateX(-50px); 
    transition: opacity 0.7s, transform 0.7s;
  }

  .project-item-wrapper.slide-in {
    opacity: 1;
    transform: translateX(0);
  }

  img.project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    border-radius: 0.75rem;
    margin: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
  }

  img.project-img:hover {
    filter: grayscale(0%);
  }

  .project-item {
    padding: 5% 0;
  }

  .project-text h4 {
    display: block;
    font-size: 1.10em;
    margin-block-start: 0.6em;
    margin-block-end: 0.6em;
    margin-inline: 5%;
    font-weight: 300;
    text-wrap: wrap;
    max-width: 60%;
  }

  .project-text p {
    font-size: 1em;
    margin-block-start: 0.60em;
    margin-block-end: 0.60em;
    margin-inline: 5%;
  }

  .project-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .project-content {
    display: none;
    overflow: hidden;
  }

  .project-content p {
    padding: 0 18px;
    border-radius: 0.75rem;
  }
  
  .project-text {
    padding-bottom: 5%;
  }

  button.project-link.project-content {
    margin: 10px auto;
  }

  /* Tech Stack */

  img.skill-img {
    width: 30%;
    border-radius: 10%;
  }

  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
  }

  .skill {
    list-style: none;
    width: 40%;
    padding: 10px;
    text-align: center;
  }

  .extra-skills {
    padding-top: 10%;
    width: 80%;
    margin: auto;
    /* slide-in animatiob */
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .extra-skills.slide-in {
    opacity: 1;
    transform: translateX(0);
  }

  .extra-skills .text-wrapper {
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0px 0px 6px #c1c0c0;
    padding: 15px;
  }

  h4.tool-name {
    padding: 10px 0;
  }

  /* About */

  p.about-content {
    display: none;
  }

  .about-content-wrapper {
    padding-bottom: 35px;
  }

  img.snap {
    width: 100%;
    border-radius: 5%;
    box-shadow: 0px 0px 6px #c1c0c0;
    padding: 5%;
  }

  .snaps-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    align-items: center;
  }

  .snaps-wrapper.about-content {
    display: none;
  }

  .about-snap {
    width: 45%;
    padding: 10px;
  }

  /* About button style */

  button.collapsible.about-see-more {
    margin: 20px auto;
  }


  /* ==========================================================================
     Helper classes
     ========================================================================== */

  .hidden,
  [hidden] {
    display: none !important;
  }
  
  .visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }
  
  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }
  
  .invisible {
    visibility: hidden;
  }
  
  .clearfix::before,
  .clearfix::after {
    content: "";
    display: table;
  }
  
  .clearfix::after {
    clear: both;
  }
  
  /* ==========================================================================
  Media Queries for Responsive Design.
  ========================================================================== */
  
  /* ----- Mobile-Only Styles ----- */
  
  @media only screen and (max-width: 767px) {
    
    .nav-menu {
      position: fixed;
      right: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #fff;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.4s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        right: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

  /* ----- Tablet Styles ----- */

  @media only screen and (min-width: 768px) {
    /*Tablet styles here*/

      /* Header styles */

      .navbar {
        padding: 1.5rem 1.75rem;
      }

      .nav-link {
        font-size: 1.75rem;
      }

      .nav-item {
        margin-left: 2.5rem;
      }

      .switch-container {
        padding-bottom: 0;
      }
      
      .switch-container p {
        padding: 0 0.5em;
        font-size: 0.90rem;
      }
      
      .switch {
        width: 45px;
        height: 24px;
      }
      
      .ball {
        height: 16px;
        width: 16px;
      }

      .intro-tagline {
        padding-top: 5%;
      }

      .intro-header {
        padding-top: 110px;
      }

      h1.intro-header {
        font-size: 2.5rem;
      }

      h3.intro-tagline {
        font-size: 1.5rem;
        padding-bottom: 50px;
      }
      

      /* General - Sections styles */

      h2 {
        font-size: 2.75rem;
      }
      

      /* Collapsible Section Styles */

      .collapsible {
        /* max-width: 40px; */
      }

      /* Projects styles */

      .projects-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        margin: auto;
      }

      .project-item-wrapper {
        width: 40%;
      }

      .project-text h4 {
        font-size: 1.25em;
      }

      /* Tech Stack styles*/

      .skills-wrapper {
        width: 80%;
        margin: auto;
      }
      
      .skill {
        width: 25%;
        padding: 15px 10px;
      }

      .extra-skills {
        padding-top: 5%;
      }

      .extra-skills .text-wrapper {
        padding: 30px;
      }

      /* About styles */

      p.text-wrapper {
        width: 75%;
        font-size: 1.25rem;
        padding-bottom: 5%;
      }

      .about-snap {
        width: 40%;
        padding: 20px;
      }

      /* Footer styles */

      h3.contact-tagline {
        width: 50%;
        padding-bottom: 5%;
      }

      footer .social-icons {
        padding: 2%;
      }

      p.copyright {
        padding: 2% 0;
      }

  }


   /* ----- Landscape tablets and iPad Pro Styles ----- */

  @media only screen and (min-width: 1024px) {
    /*Landscape tablets and iPad Pro styles here*/

      /* Header styles */

      .nav-link {
        font-size: 2rem;
      }

      .nav-item {
        margin-left: 3rem;
      }

      .switch-container p {
        font-size: 1.25rem;
      }

      .profile-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        padding: 40px 0 0 0;
      }

      .profile-intro {
        padding: 55px 0 0 0;
        width: 60%;
      }

      figure.profile-img-wrapper {
        width: 40%;
        height: fit-content;
        padding: 175px 0;
      }

      .profile-img-wrapper img {
        width: 100%;
        max-width: 350px;
      }

      header h1 {
        font-size: 2.75rem;
      }

      h3.intro-tagline {
        font-size: 1.75rem;
      }

      /* General - Sections styles */

      h2 {
        font-size: 3rem;
      }

      /* Projects styles */

      /* Tech Stack styles*/

      /* About styles */

      /* Footer styles */

  }


  /* ----- Desktop Styles ----- */

  @media only screen and (min-width: 1200px) {
    /*Desktop styles here*/

      /* Header styles */

      .nav-item {
        margin-left: 5rem;
      }

      /* General - Sections styles */

      /* Projects styles */

      /* Tech Stack styles*/

      /* About styles */

      /* Footer styles */

  }


  

  
  @media print,
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 1.25dppx),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }
  
  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */
  
  @media print {
    *,
    *::before,
    *::after {
      background: #fff !important;
      color: #000 !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
  
    a,
    a:visited {
      text-decoration: underline;
    }
  
    a[href]::after {
      content: " (" attr(href) ")";
    }
  
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
      content: "";
    }
  
    pre {
      white-space: pre-wrap !important;
    }
  
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
  
    tr,
    img {
      page-break-inside: avoid;
    }
  
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
  
    h2,
    h3 {
      page-break-after: avoid;
    }
  }

